/******************/
/*** GLOBAL CSS ***/
/******************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, 
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; position: relative; }

body 					{ line-height: 1; }
ol, ul, li 				{ list-style: none; }
:focus 					{ outline: 0; }
table 					{ border-collapse: collapse; border-spacing: 0; }
a img 					{ border: none; }
a, a:link, 
a:visited, 
a.active 				{ text-decoration:none; }
.hide					{ display: none; }

/*** FONT ***/	
body					{ font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #666666; }
a						{ color: #4DA1BD; text-decoration: none; }
a:hover					{ color: #4DA1BD; text-decoration: underline; }
p						{ color: #666666; line-height: 14pt; }
h1						{ color: #999999; font-size: 30px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 30px; }
h2						{ color: #999999; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 16pt; }
h3						{ color: #999999; font-size: 14px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 14px; }
h3 a					{ color: #999999; }

/************/
/*** BODY ***/
/************/
body 					{ background: url(../images/backgrounds/body.png);  }

/**************/
/*** HEADER ***/
/**************/
#header					{ width: 100%; height: 72px; position: relative; background: #ffffff; border-bottom: 1px solid #D3D1CB; margin: 0 0 10px 0; }
#header .page 			{ width: 1100px; margin: 0 auto; padding: 0; }
#header .logo			{ position: relative; float: left;  margin: 24px 0 0 10px; padding: 0;  }
#header .tools			{ position: relative; float: right; margin: 46px 10px 0 0; padding: 0; }

ul#menu 				{ line-height: 25px; }
ul#menu li 				{ float: left; display: inline; padding-right: 10px; margin-right: 10px; background: url(../images/menu_divider.gif) right top no-repeat; }
ul#menu li.last 		{ background: none; padding: 0; margin: 0; }
#menu a 				{ font-size: 12px; color: #999999; float: left; line-height: 1; padding: 6px 0 3px 20px; text-transform: uppercase; }
#menu a:hover 			{ color: #DD3F24; text-decoration: none; border-bottom: 1px dotted #DD3F24; }

ul#menu .download		{ background: url(../images/icons/download.png) 0 3px no-repeat; }
ul#menu .store			{ background: url(../images/icons/cart.png) 0 3px no-repeat; }
ul#menu .store:hover	{ background: url(../images/icons/cart_on.png) 0 3px no-repeat; }
ul#menu .email 			{ background: url(../images/icons/email.png) 0 5px no-repeat; }
ul#menu .email:hover	{ background: url(../images/icons/email_on.png) 0 5px no-repeat; }
ul#menu .phone			{ background: url(../images/icons/phone.png) 0 4px no-repeat; }
ul#menu .phone:hover	{ background: url(../images/icons/phone_on.png) 0 4px no-repeat; }

.email 					{ background: url(../images/icons/email_on.png) 0 0 no-repeat; padding-right: 22px; }
.phone					{ background: url(../images/icons/phone_on.png) 0 0 no-repeat; padding-right: 22px; }
.video					{ background: url(../images/icons/video.png) 0 0 no-repeat; padding-right: 22px; }
.more					{ background: url(../images/icons/more.png) 0 0 no-repeat;  }
.more:hover				{ background: url(../images/icons/more_on.png) 0 0 no-repeat;  }
.less					{ background: url(../images/icons/less.png) 0 0 no-repeat;  }
.less:hover				{ background: url(../images/icons/less_on.png) 0 0 no-repeat;  }
a.icon					{ padding-left: 18px; }

/************/
/*** PAGE ***/
/************/
.page 					{ width: 1100px; margin:   0 auto; padding: 0; }
.box_main				{ width: 800px; position: relative; float: left;  margin: 0 0 0 0; }
.box_panel				{ width: 280px; position: relative; float: right; margin: 0 0 0 0; }

/***********/
/*** BOX ***/
/***********/
.box					{ margin: 0 0 10px 0; padding: 0; background: #f6f5f1; }
.box .top				{ padding: 6px 12px 4px; border: 1px solid #D3D1CB; border-radius: 4px 4px 0 0; }
.box .top h3			{ display: inline-block; }
.box .cnt				{ padding: 12px 10px; background: #ffffff; border: 1px solid #d3d1cb; border-top: none; border-radius: 0 0 4px 4px; overflow: hidden; }

/***************/
/*** SIDEBOX ***/
/***************/
ul.box_instructions		{ margin: 0 12px; padding: 0 0 0 12px; list-style: outside;  }
ul.box_instructions li	{ line-height: 1.5em; list-style-type: square;  }

ul.box_menu    			{ margin: 6px 12px; padding: 0; list-style-type: none; }
ul.box_menu li			{ border-top: 1px solid #eceae6; line-height: 1;  }
ul.box_menu li a  		{ display: block; padding: 6px 12px; } 
ul.box_menu li a:hover	{ padding: -6px -12px;   }
ul.box_menu li a.last	{ border-bottom: 1px solid #eceae6; }

/**************/
/*** LEGEND ***/
/**************/
ul.legend				{ margin: 0; padding: 0; list-style-type: none; }
ul.legend li			{ font-size: 11px; float: left; margin: 2px 5px 2px 0; }
div.legend_box			{ width: 12px; height: 12px; border: 1px solid #999999; float: left; margin-right: 5px; }

/***************/
/*** JQM MAP ***/
/***************/
.jqm_loader				{ width: 220px; padding: 20px; display: none; background-color: #FFFFFF; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; text-align: center; border: 1px solid #999999; opacity: 0.95; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc; position: absolute;  }

.jqm_popup             	{ position: absolute; display: none; font-size: 12px; font-weight: bold; color: #ffffff; text-align: center; line-height: 1.4em; background: #000000; border-radius: 4px; padding: 8px 16px; }
.jqm_popup .popup		{ color: #ffffff; font-size: 11px; font-weight: normal; }

#jqm_click_info			{ font-size: 12px; margin-bottom: 10px; }